body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{
	margin:0;
}
ol,ul{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clearfix:after{
	content:'';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
input{
	outline: none;
}

.box-sizing{
	box-sizing:border-box;
}

img{
    max-width: 100%;
    display: inline-block;
}









